h1 {
 color: red;
 font-size: 24px;
 font-style: italic;
 text-decoration: underline;
 background-color: blue;
}
h2 {
 color: blue;
 background-color: red;
}
#try {
 color: blue;
 background-color: white;
 font-size: 24px;
}
h3 {
 color: green;
}
h5 {
 color : purple
}
h4 {
 color: orange;
}
h6 {
 color : orange; 
 font-style : italic; 
}
 p {
 font-size : 50px 
 }
img {
 border:  2px solid #000; 
 border-radius: 10px; 
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 padding: 10px; 
 max-width: 100%; 
 height: auto; 
 width: 100px; 
}
span {
 color : blue;
 font-weight : bold;
 font-size : 50px;
}
button {
 background-color : #4CAF50;
 color : orange;
 padding :  15px 32px;
}
