h1 {
 color: red;
 font-size: 24px;
 font-style: italic;
 text-decoration: underline;
 background-color: blue;
}
h2 {
 color: blue;
 background-color: red;
}
#try {
 color: pink;
 background-color: white;
 font-size: 24px;
}
h3 {
 color: green;
}
h5 {
 color : purple
}
h4 {
 color: orange;
}
h6 {
 color : orange; 
 font-style : italic; 
}
